<h1>Login</h1>
<% if request.post? %>Invalid Username/Password<% end %>

<%= form_for Admin::User.new do |f| %>
  <%= f.label :username do %>
    Username
    <%= f.text_field :username %><br>
  <% end %>
  <br/>
  <%= f.label :password do %>
    Password
    <%= f.password_field :password %><br>
  <% end %>
  <br/>
  <%= f.submit 'Sign In', class: 'button' %>
<% end %>
