<div class="row">
  <div class="large-12 columns">
    <h1>Login</h1>
    <% if request.post? %>
      <div data-alert class="alert-box alert">
        Invalid Username/Password
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
  </div>
</div>
<%= form_for Admin::User.new do |f| %>
  <div class="row">
    <div class="large-12 columns">
      <%= f.label :username do %>
        Username
        <%= f.text_field :username %><br>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= f.label :password do %>
        Password
        <%= f.password_field :password %><br>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= f.submit 'Sign In', class: 'button' %>
    </div>
  </div>
<% end %>
